<!-- <div class="col-md-6 col-md-offset-3"> -->
	<h2>Inscription</h2>
	<form name="form" (ngSubmit)="f.form.valid && inscription()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
			<label for="firstName">Prénom</label>
			<input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"  #firstName="ngModel" required />
			<div *ngIf="f.submitted && !firstName.valid" class="help-block">Votre prénom est requis</div>
		</div>

		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
			<label for="lastName">Nom</label>
			<input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
			<div *ngIf="f.submitted && !lastName.valid" class="help-block">Votre nom est requis</div>
		</div>

		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pseudo.valid }">
			<label for="pseudo">Pseudo</label>
			<input type="text" class="form-control" name="pseudo" [(ngModel)]="model.pseudo" #pseudo="ngModel" required />
			<div *ngIf="f.submitted && !pseudo.valid" class="help-block">Votre pseudo est requis</div>
		</div>

		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
			<label for="email">Email</label>
			<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required />
			<div *ngIf="f.submitted && !email.valid" class="help-block">Votre email est requis et le format est : <i>test@test.com</i>
			</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
			<label for="password">Mot de passe</label>
			<input type="password" class="form-control" name="password" [(ngModel)]="model.password"  validateEqual="confirmpassword" reverse="true" #password="ngModel" required />
			<div *ngIf="f.submitted && !password.valid" class="help-block">Votre mot de passe est requis</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
			<label for="confirmpassword">Confirmez votre mot de passe</label>
			<input type="password" class="form-control" name="confirmpassword" [(ngModel)]="model.confirmpassword"  validateEqual="password" reverse="false" #confirmpassword="ngModel" required />
			<div *ngIf="f.submitted && !password.valid" class="help-block">Votre confirmation du mot de passe est requis</div>
		</div>
	<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
			<label for="age">Age</label>
			<input type="text" class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel" required/>
			<div *ngIf="f.submitted && !age.valid" class="help-block">Votre age est requis</div>
		</div>
		 <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Inscription</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
        </div>
	</form>
<!-- </div> -->
